<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <ul>
      <li
        style="
          float: left;
          border-right: none;
          border-left: none;
          font-size: 42px;
          color: white;
          font-weight: bold;
        "
      >
        <p style="margin-top: 5px">Add Stock</p>
      </li>
      <li>
        <a class="active" href="/">Logout</a>
      </li>
      <li>
        <a class="active" href="/profile">{{ session['employee_name'] }}</a>
      </li>
      <li>
        <a class="active" href="/report">Report</a>
      </li>
      <li>
        <a class="active" href="/transfer">Transfer History</a>
      </li>
      <li>
        <a class="active" href="/location">Locations</a>
      </li>
      <li>
        <a class="active" href="/product">Products</a>
      </li>
      <li>
        <a class="active" href="/home">Home</a>
      </li>
    </ul>
    <form action="/addStock" method="post">
      <div class="container-editproduct">
        <p>
          <label>Product Name</label>
          <input
            type="text"
            value="{{ productName }}"
            name="product_name"
            readonly
            autocomplete="off"
          />
        </p>
        <p>
          <label>Product Location</label>
          <input
            type="text"
            placeholder="Choose Product Location"
            name="product_location"
            list="location_list"
            required
            autocomplete="off"
          />
        </p>
        <p>
          <label>Quantity</label>
          <input
            type="text"
            placeholder="Enter Product Quantity"
            name="product_quantity"
            required
            autocomplete="off"
          />
        </p>
        <button type="submit">Add Stock</button>
        <p>{{message}}</p>
      </div>
    </form>
    <datalist id="location_list">
      {% for location_detail in locations["Items"] %}
      <option value="{{ location_detail['location_name'] }}"></option>
      {% endfor %}
    </datalist>
  </body>
</html>
