<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/productstyle.css" />
  </head>
  <body>
    <ul>
      <li
        style="
          float: left;
          border-right: none;
          border-left: none;
          font-size: 42px;
          color: white;
          font-weight: bold;
        "
      >
        <p style="margin-top: 5px">Location</p>
      </li>
      <li>
        <a class="active" href="/">Logout</a>
      </li>
      <li>
        <a class="active" href="/profile">{{ session['employee_name'] }}</a>
      </li>
      <li>
        <a class="active" href="/report">Report</a>
      </li>
      <li>
        <a class="active" href="/transfer">Transfer History</a>
      </li>
      <li>
        <a class="active" href="/product">Products</a>
      </li>
      <li>
        <a class="active" href="/home">Home</a>
      </li>
    </ul>
    <div class="container">
      <a href="/addLocation" id="addLocation">Add Location</a>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Edit</th>
        </tr>
        {% for location_detail in locations["Items"] %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ location_detail['location_name'] }}</td>
          <td>{{ location_detail['location_address'] }}</td>
          <td>
            <a id="edit-location" href="/editLocation">Edit</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
