<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>myStocx</h1>
    <form action="/authentication" method="post">
      <div class="container">
        <p>
          <label style="margin-right: 330px">Email</label>
          <input
            type="text"
            placeholder="Enter Email"
            name="user_email"
            required
          />
        </p>
        <p>
          <label style="margin-right: 300px">Password</label>
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required
          />
        </p>
        <button type="submit">Login</button>
        <div class="rego">
          <a href="/register">Admin Registeration</a>
        </div>
        <p>{{message}}</p>
      </div>
    </form>
  </body>
</html>
