<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/productstyle.css" />
  </head>
  <body>
    <ul>
      <li
        style="
          float: left;
          border-right: none;
          border-left: none;
          font-size: 42px;
          color: white;
          font-weight: bold;
        "
      >
        <p style="margin-top: 5px">Products</p>
      </li>
      <li>
        <a class="active" href="/">Logout</a>
      </li>
      <li>
        <a class="active" href="/profile">{{ session['employee_name'] }}</a>
      </li>
      <li>
        <a class="active" href="/report">Report</a>
      </li>
      <li>
        <a class="active" href="/transfer">Transfer History</a>
      </li>
      <li>
        <a class="active" href="/location">Locations</a>
      </li>
      <li>
        <a class="active" href="/home">Home</a>
      </li>
    </ul>
    <div class="container">
      <a href="/addProduct">Add Product</a>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Add Stock</th>
          <th>Delete Stock</th>
          <th>View</th>
        </tr>
        <tbody>
          {% for product_detail in products["Items"] %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ product_detail['product_name'] }}</td>
            <td>
              <a
                id="add-stock"
                href="{{url_for('add_product_stock',product_name = product_detail['product_name'])}}"
                >Add Stock</a
              >
            </td>
            <td>
              <a
                id="delete-stock"
                href="{{url_for('delete_product_stock',product_name = product_detail['product_name'])}}"
                >Delete Stock</a
              >
            </td>
            <td>
              <a
                id="view-product"
                href="{{url_for('view_product',product_name = product_detail['product_name'])}}"
                >View</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
