<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Report</title>
    <link rel="stylesheet" href="/static/productstyle.css" />
  </head>
  <body>
    <ul>
      <li
        style="
          float: left;
          border-right: none;
          border-left: none;
          font-size: 42px;
          color: white;
          font-weight: bold;
        "
      >
        <p style="margin-top: 5px">Stock Report</p>
      </li>
      <li>
        <a class="active" href="/">Logout</a>
      </li>
      <li>
        <a class="active" href="/profile">{{ session['employee_name'] }}</a>
      </li>
      <li>
        <a class="active" href="/transfer">Transfer History</a>
      </li>
      <li>
        <a class="active" href="/location">Locations</a>
      </li>
      <li>
        <a class="active" href="/product">Products</a>
      </li>
      <li>
        <a class="active" href="/home">Home</a>
      </li>
    </ul>
    <div class="container">
      <form action="/filter" method="post">
        <input
          type="text"
          placeholder="Choose Location"
          name="location_address"
          list="filter_location_list"
          required
          autocomplete="off"
        />
        <button type="submit">Filter By Location</button>
      </form>
      <a href="/transferProduct" id="transfer-product">Transfer Product</a>
      <table>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Location</th>
        </tr>
        {% for product_detail in reports["Items"] %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ product_detail['product_name'] }}</td>
          <td>{{ product_detail['product_quantity'] }}</td>
          <td>{{ product_detail['product_location'] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <datalist id="filter_location_list">
      {% for location_detail in locations["Items"] %}
      <option value="{{ location_detail['location_name'] }}"></option>
      {% endfor %}
    </datalist>
  </body>
</html>
