<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <ul>
      <li
        style="
          float: left;
          border-right: none;
          border-left: none;
          font-size: 42px;
          color: white;
          font-weight: bold;
        "
      >
        <p style="margin-top: 5px">Transfer Product</p>
      </li>
      <li>
        <a class="active" href="/">Logout</a>
      </li>
      <li>
        <a class="active" href="/">Name</a>
      </li>
      <li>
        <a class="active" href="/report">Report</a>
      </li>
      <li>
        <a class="active" href="/transfer">Transfer</a>
      </li>
      <li>
        <a class="active" href="/location">Locations</a>
      </li>
      <li>
        <a class="active" href="/product">Products</a>
      </li>
      <li>
        <a class="active" href="/home">Home</a>
      </li>
    </ul>
    <form action="/transferProductCheck" method="post">
      <div class="container">
        <p>
          <label style="margin-right: 330px">From</label>
          <input
            type="text"
            name="from"
            placeholder="Select From Location"
            list="location_list"
            required
            autocomplete="off"
          />
        </p>
        <p>
          <label style="margin-right: 350px">To</label>
          <input
            type="text"
            name="to"
            placeholder="Select To Location"
            list="location_list"
            required
            autocomplete="off"
          />
        </p>
        <p>
          <label style="margin-right: 330px">Quantity</label>
          <input
            type="text"
            name="quantity"
            placeholder="Enter Quantity to Transfer"
            required
            autocomplete="off"
          />
        </p>
        <p>
          <label style="margin-right: 330px">Product</label>
          <input
            type="text"
            name="product"
            placeholder="Select Product to Transfer"
            list="product_list"
            required
            autocomplete="off"
          />
        </p>
        <button type="submit">Transfer Product</button>
        <p>{{message}}</p>
      </div>
    </form>
    <datalist id="location_list">
      {% for location_detail in locations["Items"] %}
      <option value="{{ location_detail['location_name'] }}"></option>
      {% endfor %}
    </datalist>
    <datalist id="product_list">
      {% for product_detail in products["Items"] %}
      <option value="{{ product_detail['product_name'] }}"></option>
      {% endfor %}
    </datalist>
  </body>
</html>
